body {
    font-family: sans-serif;
    background: #eee;
}

div#nav {
    text-align: right;
    width: 600px;
    margin: auto;
    font-size: smaller;
    color: chartreuse;
}

.page {
    margin: 2em auto;
    width: 35em;
    border: 5px solid #ccc;
    padding: 0.8em;
    background: white;
}
.entries li {
    margin: 0.8em 1.2em;
}
.entries li h2 {
    margin-left: -1em;
}